@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');


body {
   background-color: #00FFCA;
}

li {
    list-style-type: none;
}

.Titolo {
    color: #0A4D68;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.navbar ul li {
    list-style-type: none;
    cursor: pointer;
}

.navbar ul li:hover {
    color: #f4f4f5;
    transform: scale(1,2);

}

#foto {
    border: 10px solid #0A4D68;
    border-radius: 20px;

}

#image {
    border: 10px solid #05BFDB;
    border-radius: 20px;
}